 <%= content_for :title do%>
	每日星座
 <%end%>
 <link rel="stylesheet" href="/css/xz.css"/>
 
 <div class="main">
        <div class="mainContent">
            <div class="listContent">
                <a href="/xz/detail?name=aries&id=01" data-id="1" class="no1">
                    <div class="xzIndexImg"></div>
                    <div class="xzName">白羊座</div>
                </a>
                <a href="/xz/detail?name=taurus&id=02" data-id="2" class="no2">
                    <div class="xzIndexImg"></div>
                    <div class="xzName">金牛座</div>
                </a>
                <a href="/xz/detail?name=gemini&id=03" data-id="3" class="no3">
                    <div class="xzIndexImg"></div>
                    <div class="xzName">双子座</div>
                </a>
                <a href="/xz/detail?name=cancer&id=04" data-id="4" class="no4">
                    <div class="xzIndexImg"></div>
                    <div class="xzName">巨蟹座</div>
                </a>
                <a href="/xz/detail?name=leo&id=05" data-id="5" class="no5">
                    <div class="xzIndexImg"></div>
                    <div class="xzName">狮子座</div>
                </a>
                <a href="/xz/detail?name=virgo&id=06" data-id="6" class="no6">
                    <div class="xzIndexImg"></div>
                    <div class="xzName">处女座</div>
                </a>
                <a href="/xz/detail?name=libra&id=07" data-id="7" class="no7">
                    <div class="xzIndexImg"></div>
                    <div class="xzName">天秤座</div>
                </a>
                <a href="/xz/detail?name=scorpio&id=08" data-id="8" class="no8">
                    <div class="xzIndexImg"></div>
                    <div class="xzName">天蝎座</div>
                </a>
                <a href="/xz/detail?name=sagittarius&id=09" data-id="9" class="no9">
                    <div class="xzIndexImg"></div>
                    <div class="xzName">射手座</div>
                </a>
                <a href="/xz/detail?name=capricorn&id=10" data-id="10" class="no10">
                    <div class="xzIndexImg"></div>
                    <div class="xzName">魔蝎座</div>
                </a>
                <a href="/xz/detail?name=aquarius&id=11" data-id="11" class="no11">
                    <div class="xzIndexImg"></div>
                    <div class="xzName">水瓶座</div>
                </a>
                <a href="/xz/detail?name=pisces&id=12" data-id="12" class="no12">
                    <div class="xzIndexImg"></div>
                    <div class="xzName">双鱼座</div>
                </a>
            </div>
        </div>
      
    </div>
    <script type="text/javascript" src="js/jquery-fastclick.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
</body>
